@import "tailwindcss";

@theme {
  --color-pink: #db73b2;
  --color-violet: #9579b6;
  --color-blue: #2e78b7;
  --color-text: #111827;
  --color-bg: #f8fafc;
}

body {
  color: #111827;
  font-family:
    var(--font-inter),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

.outfit {
  font-family: var(--font-outfit);
}

.icursive {
  font-family: var(--font-inter), cursive;
}


@layer base {
  h1 {
    @apply text-4xl md:text-5xl font-bold tracking-tight text-center lg:text-start;
  }

  h2 {
    @apply text-text text-[28px] lg:text-5xl font-bold leading-tight text-start;
  }

  h3 {
    @apply text-xl md:text-3xl font-semibold text-start;
  }

  h4 {
    @apply text-text font-bold text-lg lg:text-xl;
  }

  p {
    @apply text-base md:text-[20px] font-normal leading-relaxed text-start;
  }
}

@layer components {
  .ctn {
    @apply w-full lg:max-w-7xl mx-auto px-6 lg:px-8;
  }

  .ctn-margin {
    @apply flex flex-col py-20;
  }

  .padding {
    @apply py-16 lg:py-20;
  }
  .btn {
    @apply w-52
           inline-flex items-center justify-center
           px-6 py-3
           rounded-4xl
           text-white font-medium
           transition-all duration-300 ease-in-out
           hover:scale-105 active:scale-95 cursor-pointer;
  }
  .btn-colors {
    @apply bg-linear-to-r from-pink to-violet;
  }

  .gradient {
     @apply bg-linear-to-r from-pink to-violet;
  }
  .btn-blue {
    @apply bg-[#2e78b7] hover:bg-[#2e78b7]/70;
  }

  .btn-violet {
    @apply bg-[#9579b6] hover:bg-[#9579b6]/70;
  }

  .btn-pink {
    @apply bg-[#db73b2] hover:bg-[#db73b2]/70;
  }
}
